* {
  font-size: 12px;
  font-family: "SauceCodePro Nerd Font";
}

window#waybar {
  background: @theme_base_color;
  border-bottom: 1px solid @unfocused_borders;
  color: @theme_text_color;
}

window.DP-5 * {
  font-size: 11px;
}

window.DP-4 * {
  font-size: 11px;
}

#battery.warning {
  color: #d08770;
}

#battery.critical {
  color: #bf616a;
}

#window {
  font-size: 1.2em;
  font-weight: bold;
}

#custom-media {
  font-size: 15px;
  font-weight: bold;
}

#workspaces button {
  padding: 0 5px;
}

@define-color focused-color #81a1c1;
#workspaces button.focused {
  border-top: 3px solid @focused-color; /* rgba(217, 216, 216, 1);*/
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  color: @focused-color;
  font-weight: 900;
}

#pulseaudio {
  margin: 3px 3px 3px 0px;
  padding: 5px 7px 5px 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#clock {
  margin: 3px 0px 3px 3px;
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#backlight {
  margin: 3px 0px 3px 0px;
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #e5e9f0;
}

#memory {
  margin: 3px 0px 3px 0px;
  padding: 5px;
}

#mode {
  background-color: #ca1243;
  margin: 3px;
  border-radius: 5px;
}
