window {
  margin: 5px;
  border: 2px solid #e5e9f0;
  background-color: #3b4252;
}

#input {
  margin: 5px;
  background: transparent;
  color: #e5e9f0;
  padding: 3px;
  font-size: 18px;
}

#inner-box {
  margin: 5px;
}

#outer-box {
  margin: 5px;
  border: 2px transparent;
}

#scroll {
  margin: 5px;
}

#text {
  margin: 5px;
  color: #e5e9f0;
}

#entry:selected {
  background-color: rgba(0, 0, 0, 0);
}

#text:selected {
  text-decoration: underline;
  text-decoration-color: #e5e9f0;
}

#input {
  margin: 5px;
  background: transparent;
  color: #e5e9f0;
}

#inner-box {
  margin: 5px;
}

#outer-box {
  margin: 5px;
  border: 2px transparent;
}

#scroll {
  margin: 5px;
}

#text {
  margin: 5px;
  color: #e5e9f0;
}

#entry:selected {
  background-color: rgba(0, 0, 0, 0);
}

#text:selected {
  text-decoration: underline;
  text-decoration-color: #e5e9f0;
}
